header {
  .flex();
  width: 100%;
  height: 15%;
  background: @MainColor;
  padding: 0 5% 0 5%;
  img {
    width: 165px;
    height: 80px;
    margin: 0 20% 0 0;
  }
  nav {
    width: 60%;
  }
  @media @mobile {
    width: 100%;
    height: 25vh;
    flex-wrap: wrap;
    justify-content: center;
    img {
      margin: 0;
    }
    nav {
      width: 100%;
    }
  }
}
